
<html>
    <head>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <script src="../static/index.js"></script>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div class="container">
            <div class="jumbotron mt-3">
                <div class="title">Are you scared of this?</div>
                <p class = "click">Click the image you want..</p>
                    <div class="horror-image">
                    <input id="Ghost" type="radio" name="monster" value="The ghost" onclick="suggestion()"/>
                        <label class="horror Ghost" for="Ghost"></label>
                    <input id="Vampire" type="radio" name="monster" value="The vampire" onclick="suggestion()"/>
                        <label class="horror Vampire" for="Vampire"></label>
                    <input id="Killer" type="radio" name="monster" value="The killer" onclick="suggestion()"/>
                        <label class="horror Killer" for="Killer"></label>
                    <input id="Demon" type="radio" name="monster" value="The demon" onclick="suggestion()"/>
                        <label class="horror Demon" for="Demon"></label>
                    <input id="Succubus" type="radio" name="monster" value="The succubus" onclick="suggestion()"/>
                        <label class="horror Succubus" for="Succubus"></label>
                    <input id="Clown" type="radio" name="monster" value="The Clown" onclick="suggestion()"/>
                        <label class="horror Clown" for="Clown"></label>
                    <input id="Ailen" type="radio" name="monster" value="The alien" onclick="suggestion()"/>
                        <label class="horror Ailen" for="Ailen"></label>
                    <input id="Zombie" type="radio" name="monster" value="The zombie" onclick="suggestion()"/>
                        <label class="horror Zombie" for="Zombie"></label>
                    </div>
                <div id="context" class ="context">
                    <span></span>
                </div>
            </div>
        </div>
    </body>
</html>